@import '../../../../styles/shared.scss';

.profile{
    display: flex; justify-content: space-between;
    background-color: #202c33;  color: $text-color;
    padding: 1rem; height: 2.5rem;
    .picture{
        font-size: 2.25rem;
    }

    .nav-icons{
        width: 50%;
        display: flex; align-items: center; justify-content: space-evenly;
        font-size: 1.5rem;

        .icon{ &:hover{cursor: pointer;}}
    }
}