@import '../../../styles/shared.scss';

.user-panel{
    min-width: 400px; 
    background-color: #17242c;
    color: $text-color;
    font-family: $font;
    border-right: .5px solid rgba(255, 255, 255, 0.14);

    @media(max-width: 800px){
        min-width: 320px;
    }
}